<section>
  <div class="flex flex-wrap gap-3 max-md:gap-1">
    @for (item of countries(); track $index) {

    <div class="rounded-2xl shadow-md w-60 max-md:w-44">
      <img
        [src]="item.image"
        alt="image to conuntry {{ item.name }}"
        class="h-24 w-full aspect-square object-cover rounded-t-2xl"
        loading="lazy"
        height="24"
        width="100"
      />
      <footer
        [class.bg-sky-500]="item.isSelected"
        [class.rounded-b-2xl]="item.isSelected"
        (click)="viewDetail(item.code)"
        class="flex gap-2 p-3 items-center cursor-pointer"
        [routerLink]="['/home', item.code]"
      >
        <img [srcset]="item.flag" alt="flag " class="w-10 h-8 rounded-sm" />
        <div class="flex flex-col items-start">
          <h1
            class="font-medium text-sky-500 truncate w-32 max-md:w-24 max-md:text-sm"
            [class.text-white]="item.isSelected"
          >
            {{ item.name }}
          </h1>
          <p
            class="font-medium text-gray-500 max-md:text-xs"
            [class.text-gray-300]="item.isSelected"
          >
            {{ item.continent.name }}
          </p>
        </div>
      </footer>
    </div>
    }@empty {
    <div class="flex items-center justify-center w-ful h-full">
      <h2 class="text-xl text-sky-500">
        {{ message() }}
      </h2>
    </div>

    }
  </div>
</section>
